*{
    margin: 0%;
    padding-left:10;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    background-image: url(../PRJ_AULA_04/imagem/melhores-praias-do-brasil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{    
    text-decoration: none;
    color: #141111;
    font-size: 1.3rem;
    margin-right: 25px;
    font-size: 1.5rem;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    display: flex;

}
.menu{
    background-color: #3bdaf2;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}
.logo{
    width: 100px;
    margin-left: 30px;

}
@media screen and (max-width:599px){
    .menu{
        visibility: hidden;
    }
    /*Estilo rodapé*/
footer{
    text-align:center;
    padding: 10px;
background: #faf5f7;
color:#2eeaed;
margin-top: 10px;
position:fixed;
bottom: 0;
width:100%
}
}